<header class="clearfix">
  <h2 class="page_title">General settings</h2>
</header>

<div class="content-inner">
  <div class="row">
    <div class="col-md-6">
      <form>
        <div class="settings-row">
          <h3>Under maintenance</h3>
          <p>Redirect all requests to a a holding page.</p>
          <div class="checkbox">
            <label><input type="checkbox" value="">Always on top</label></br>
            <label><input type="checkbox" value="">Draw attention</label></br>
            <label><input type="checkbox" value="">Recycle when end of lession</label></br>
            <label><input type="checkbox" value="">Randomize word</label></br>
          </div>
        </div>

        <div class="settings-row">
          <h3>Prevent commenting</h3>
          <p>Prevent or Enable visitors from leaving comments.</p>
          <select id="input" class="form-control small-input">
            <option value="">active</option>
            <option value="">disable</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Save Settings</button>
      </form>
    </div>
  </div>